mixin ProjectsList(draggable)
	:php
		echo '<script>';
		echo 'importStuff.projects = [';
		$res = $db->query('SELECT * FROM Projet') or die(mysqli_error($db));
		while (NULL !== ($row = $res->fetch_array())) {
		    echo '{';
		    echo 'idProj:'.$row['idProj'].',';
		    echo 'nomProj:'.json_encode($row['nomProj']).',';
		    echo 'descProj:'.json_encode($row['descProj']).',';
		    echo 'lien:'.json_encode($row['lien']).',';
		    echo 'nbMini:'.$row['nbMini'].',';
		    echo 'nbMax:'.$row['nbMax'].',';
		    echo 'nbInscri:'.$row['nbInscri'].'}';
		    echo ',';
		}
		echo ']';
		echo '</script>';
	if(draggable)
		div(style='font-style: italic; width: 70%; margin: auto; text-align: center; margin-bottom: 8px;')
			| Pour choisir établir votre liste de sujets préférés, glissez les sujet au devant de la liste.
	.projectList(ng-init='nbChoice = 6;')
		.head
			.row
				.titleColumn
					img.icon(src='images/icons/title.png')
					span Intitulé
				.teacherColumn
					img.icon(src='images/icons/teacher.png')
					span Encadrant
				.langColumn
					img.icon(src='images/icons/languages.png')
					span Langages
				.studentsColumn
					img.icon(src='images/icons/students.png')
					span Affecté(s)
			if !draggable
				.row.search
					.titleColumn
						input(ng-model='search.nomProj')
					.teacherColumn
						input(ng-model='search.author')
					.langColumn
						input(ng-model='search.languages')
					.studentsColumn
						//- input(ng-model='search.title')


		.body(data-as-sortable="dragControlListeners", data-ng-model='projects')
			a.row(href='/?liste-des-projets/{{project.idProj | fillZero}}-{{project | getLinkFromTitle}}', target="_blank", included=(draggable?"{{k<nbChoice}}":"false"), data-ng-repeat="(k,project) in projects | filter:search", data-as-sortable-item)
				.titleColumn(style='background-image: url("images/icons/order/{{k}}.png")')
					if draggable
						span.handle(data-as-sortable-item-handle)
							img(src='images/grip.png')
					span {{project.nomProj}}
				.teacherColumn {{project.author}}
				.langColumn
					img.language(ng-repeat='lang in project.languages', src='images/languages/{{lang}}.svg')
				.studentsColumn.empty Aucun étudiant pour le moment
			.span(ng-repeat='a in filtredProjects = (projects | filter:search)')
			.row.noRowToDisplay(ng-show='filtredProjects.length==0') Aucun résultat.













mixin ProjectsList_old(draggable)
	if draggable
		div(style='font-style: italic; width: 70%; margin: auto; text-align: center; margin-bottom: 8px;')
			| Pour choisir établir votre liste de sujets préférés, glissez les sujet au devant de la liste.
	table.projectList
		thead
			tr
				if draggable
					th
				th.titleColumn
					img.icon(src='images/icons/title.png')
					span Intitulé
				th.teacherColumn
					img.icon(src='images/icons/teacher.png')
					span Encadrant
				th.langColumn
					img.icon(src='images/icons/languages.png')
					span Langages
				th.studentsColumn
					img.icon(src='images/icons/students.png')
					span Affecté(s)
			if !draggable
				tr
					th.titleColumn
						input(ng-model='search.title')
					th.teacherColumn
						input(ng-model='search.author')
					th.langColumn
						input(ng-model='search.languages')
					th.studentsColumn
						input(ng-model='search.title')

		if draggable
			tbody.content(data-as-sortable="dragControlListeners", data-ng-model='projects')
				tr(data-ng-repeat="project in projects", data-as-sortable-item)
					td
						div(data-as-sortable-item-handle) OO
					td {{project.title}}
					td {{project.author}}
					td
						img.language(ng-repeat='lang in project.languages', src='images/languages/{{lang}}.svg')
					td.empty Aucun étudiant pour le moment
		else
			tr.content(ng-repeat='project in projects | filter:search')
				td {{project.title}}
				td {{project.author}}
				td
					img.language(ng-repeat='lang in project.languages', src='images/languages/{{lang}}.svg')
				td.empty Aucun étudiant pour le moment