#disp-error
	position fixed
	z-index 200
	top 0px
	left 0px
	right 0px
	bottom 0px
	background-color rgba(0, 0, 0, 0.5)
	.content
		position relative
		top 60px
		margin auto
		width 700px
		height 270px
		box-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
		border-radius 20px
		background-color white
		color black
		padding 20px
		opacity 1
		.title
			color red
			display block
			text-align center