body {
  font-family: 'Open Sans';
  padding: 0px;
  margin: 0px;
  background: url("../images/background-body-light.jpg") no-repeat center 80px;
}
body header {
  background: url("../images/head/background.png") repeat-x top left;
  height: 116px;
}
body header .ban .content {
  width: 750px;
  height: 117px;
  margin: auto;
  text-align: center;
  background: url("../images/head/circle.png") no-repeat center top;
}
body header .ban .content img.um2 {
  transform: rotate(0deg);
  transition: transform 300ms ease-in;
}
body header .ban .content img.um2:hover {
  transform: rotate(5deg);
  transition: transform 500ms ease-out;
}
body header .ban .content .left {
  width: 310px;
  float: left;
}
body header .ban .content .left .title {
  padding-top: 22px;
}
body header .ban .content .left .menu {
  text-align: left;
  padding-left: 30px;
}
body header .ban .content .right {
  width: 310px;
  float: right;
}
body header .ban .content .right .description {
  padding-top: 6px;
}
body header .ban .content .right .menu {
  text-align: right;
  padding-right: 30px;
}
body header .ban .content div > .imageBox {
  height: 77px;
}
body header .ban .content div > .menu {
  height: 28px;
  overflow: hidden;
}
body header .ban .content div > .menu .item {
  height: 24px;
  padding-top: 4px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  width: 126px;
  text-decoration: none;
}
body header .ban .content div > .menu .item:hover {
  text-shadow: 0px 0px 2px #fff;
}
body header .ban .content div > .menu .item.active {
  color: #ecf083;
  text-shadow: 0px 0px 2px #fff;
}
body header .ban .content .um2 {
  padding-top: 8px;
}
body .page {
  width: 760px;
  padding: 20px;
  margin: auto;
}
body .page.presentation .fds {
  width: 210px;
}
body .page.presentation .text {
  text-align: justify;
  margin-left: 230px;
  margin-top: 0px;
  padding-top: 1px;
}
button {
  position: relative;
  color: #000;
  border: 0;
  background-color: #60c7ff;
  border-bottom: 2px solid #0096e8;
  vertical-align: top;
border-bottom
  text-align: center;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: #fff;
  font-size: 14px;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  outline: 0 none;
}
button.green {
  background-color: #2ecc71;
  border-bottom: 2px solid #1e874b;
}
button.disabled {
  background-color: #bdc3c7;
  border-bottom: 2px solid #8b959c;
  color: #808080;
  opacity: 0.5;
}
button.red {
  background-color: #ff5761;
  border-bottom: 2px solid #e2000d;
}
button:hover {
  transition: background-color 100ms ease-out;
  background-color: #36b8ff;
}
button:hover.green {
  background-color: #28b463;
}
button:hover.red {
  background-color: #ff2e3a;
}
button:hover.disabled {
  background-color: #bdc3c7;
  border-bottom: 2px solid #8b959c;
}
button:active {
  padding-top: 7px;
  margin-bottom: -1px;
}
button:active.disabled {
  padding-top: 8px;
  margin-bottom: 0px;
}
@-moz-keyframes clickWhenDisabled {
  0% {
    top: -20px;
  }
  14% {
    top: 20px;
  }
  28% {
    top: -15px;
  }
  42% {
    top: 15px;
  }
  57% {
    top: -10px;
  }
  71% {
    top: 10px;
  }
  85% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes clickWhenDisabled {
  0% {
    top: -20px;
  }
  14% {
    top: 20px;
  }
  28% {
    top: -15px;
  }
  42% {
    top: 15px;
  }
  57% {
    top: -10px;
  }
  71% {
    top: 10px;
  }
  85% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
@-o-keyframes clickWhenDisabled {
  0% {
    top: -20px;
  }
  14% {
    top: 20px;
  }
  28% {
    top: -15px;
  }
  42% {
    top: 15px;
  }
  57% {
    top: -10px;
  }
  71% {
    top: 10px;
  }
  85% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes clickWhenDisabled {
  0% {
    top: -20px;
  }
  14% {
    top: 20px;
  }
  28% {
    top: -15px;
  }
  42% {
    top: 15px;
  }
  57% {
    top: -10px;
  }
  71% {
    top: 10px;
  }
  85% {
    top: -5px;
  }
  100% {
    top: 0px;
  }
}
#disp-error {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);
}
#disp-error .content {
  position: relative;
  top: 60px;
  margin: auto;
  width: 700px;
  height: 270px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  opacity: 1;
}
#disp-error .content .title {
  color: #f00;
  display: block;
  text-align: center;
}
