color1 = #60c7ff
paddingMenuBorder = 30px
body
	font-family 'Open Sans'
	padding	0px
	margin	0px
	background url('../images/background-body-light.jpg') no-repeat center 80px
	@import 'header.styl'
	@import 'page.styl'

@import 'details-project.styl'
@import 'list-projects.styl'
@import 'error.styl'
@import 'button.styl'
@import 'page-mes-projets.styl'