:php
	if(@$urlParams[1]=='deleteNewEtudiants'){// A supprimer, c'est juste pour les tests
		$db->query('DELETE FROM Etudiant WHERE `telEtu` IS NULL;ALTER TABLE Etudiant AUTO_INCREMENT = 1;');
		die('DONE.');
	}
	if(count($urlParams)>2 && $urlParams[1]=='etudiants' && $urlParams[2]=='import' && isset($_POST['Data'])){
		$Data = json_decode($_POST['Data']);
		$str = "SET @promo=(SELECT * FROM LAST_PROMO_ID);INSERT INTO Etudiant (nomEtu, prenomEtu, emailEtu, idPromo) VALUES";
		$first = true;
		foreach($Data as $line){
			if(!$first)
				$str.=',';
			$str.='(';
			$str.='"'.$line[0].'",';
			$str.='"'.$line[1].'",';
			$str.='"'.$line[2].'"';
			$str.=',@promo)';
			$first = false;
		}
		$db->query($str.';');
div(style='text-align: center; padding: 40px;') Import effectué
:php
	}else{
script(src='/scripts/admin.js')
style.
	h1{
		display: inline-block;
		float: left;
		font-size: 24px;
		padding: 10px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #bdc3c7;
		transition: color 100ms linear;
		position: relative;
		top: 0px;
		cursor: default;
		margin: 0px;
	}
	h1[state='true']{
		color: black;
		transition: color 100ms linear;
	}
	h1:hover{
		top: -2px;
		transition: top 100ms ease-out;
	}
	.view{
		width: 760px;
		height: 800px;
		overflow-x: hidden;
	}
	.panels{
		position: relative;
		width: 4700px;
	}
	.panels[state="0"]{left: 0px;		transition: left 400ms ease-out;}
	.panels[state="1"]{left: -760px;	transition: left 400ms ease-out;}
	.panels[state="2"]{left: -1520px;	transition: left 400ms ease-out;}
	.panels[state="3"]{left: -2280px;	transition: left 400ms ease-out;}
	.panels[state="4"]{left: -3040px;	transition: left 400ms ease-out;}
	.panels[state="5"]{left: -3800px;	transition: left 400ms ease-out;}

	table{
		width: 100%;
	}

	.panel{
		float: left;
		width: 760px;
	}
script(type="text/javascript", src="TinyEditor/packed.js")
link(rel="stylesheet", href="TinyEditor/style.css")
:php
	if(isset($parseParam[1], $parseParam[2], $_POST['content']) && $parseParam[1]=='presentation' && $parseParam[2]=='update'){
		$html = explode('<style>*{font-family: \'Open Sans\';}</style>', $_POST['content'], 2)[1];
		file_put_contents('pages/presentation-content.html', $html);
	}
	echo '<div class=\'page interface-admin\' ng-controller=\'admin\' ng-init=\'';
	if(isset($parseParam[1]) && $parseParam[1]=='presentation')
		echo 'currentPage = 2;';
	echo '\'>';

h1(ng-repeat='(k,page) in pages', state='{{currentPage==k}}', ng-click='$parent.currentPage=k') {{page}}
br
.view
	.panels(state='{{currentPage}}')
		.panel
			h2 [Page à inclure ici] ~T1
		.panel 
			:php
				include("pages/admin/groupes.php");
		.panel 
			:php
				include("pages/admin/presentation.php");
		.panel 
			h2 [Page à inclure ici] ~T4
		.panel
			:php
				include("pages/admin/etudiants.php");
		.panel
			:php
				include("pages/admin/promos.php")
:php
	echo '</div>';
	}