include ../projectsList.jade
div.page.liste-des-projets
	h1 Liste des projets
	:php
		if(getUserType()==ANONYME){
	+ProjectsList(false, false, false)
	:php
		}else if(getUserType()==ELEVE){
	a(href="/?liste-des-projets/drag-drop-enabled") [Se mettre en mode "Etudiant-qui-choisit-ses-sujets" (c'est la classe comme nom de mode !)]
	+ProjectsList(true, false, false)
	:php
		}else if(getUserType()==ENCADRANT){
	+ProjectsList(false, true, false)
	:php
		}else if(getUserType()==ADMIN){
	+ProjectsList(false, true, true)
	:php
		}