//On charge le script client qui gère la liste des projets
script(src='/scripts/listProjects.js')

//On déclare un contrôleur AngularJS
div.page.liste-des-projets(ng-controller='listeProjets')
	:php
		//Inclusion du système de suppression de page
		include("php_functions/deleteProjet.php");
	h1
		:php
			if(getUserType()==ELEVE && $_SESSION['groupId']){
		button#save(ng-if='stateConfirm!="already"', ng-click='isThereAnyModificationsYet && sendOrder()', class='{{isThereAnyModificationsYet ? "green" : "disabled"}}')
			div
		:php
			}
		span Liste des projets
	:php
		if(getUserType()==ELEVE && $_SESSION['groupId']){
			$group = getGroupFromGroupId($_SESSION['groupId']);
			echo '<div class="confirmation" state="{{stateConfirm}}" ng-init="';
			echo 'stateConfirm = ';
			if($group['EtatCandidature']==2)
				echo "'already'";
			else
				echo "'no'";
			echo '">';
	//Formulaire de validation en haut à droite de la page
	.validationForm
		div.partValid
			button.valid(ng-click='stateConfirm = "active"') Valider la candidature
		div.partConfirm(style='text-align: center;')
			b Voulez-vous valider vos 6 choix ? Cette opération est irréversible.
			button.red(ng-click='confirmChoices()') Confirmer
			button(ng-click='stateConfirm = "no"') Annuler
		div.partValid
			button.disabled Choix déjà effectués
	:php
		echo '</div>';
		}
		include('php_functions/template-liste-projets.php');
		DisplayListProjects();

	//Affichage des erreurs (ne devrait jamais se produire)
	div#disp-error(ng-if='errorSpotted[0]')
		.content
			.title Erreur !
			span {{errorSpotted[1]}}
