script(src='/scripts/listProjects.js')
div.page.liste-des-projets
	h1 Liste des projets
	:php
		if(getUserType()==ELEVE){
	button Valider la candidature
	:php
		}
	:php
		include('php_functions/projectsList.php');
		DisplayListProjects();
	div#disp-error(ng-if='errorSpotted[0]')
		.content
			.title Erreur !
			span {{errorSpotted[1]}}
