script(src='/scripts/listProjects.js')
div.page.mes-projets(ng-controller='listeProjets')
	h1 Mes projets
	button.add Ajouter
	:php
		include('php_functions/projectsList.php');
		DisplayListProjects('encadrant');
	div#disp-error(ng-if='errorSpotted[0]')
		.content
			.title Erreur !
			span {{errorSpotted[1]}}
