
<html ng-app="ProjetsL2">
  <head>
    <title>Idea-2</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/script.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <meta charset="UTF-8"/>
    <script src="scripts/ng-sortable/ng-sortable.js"></script>
    <link rel="stylesheet" type="text/css" href="scripts/ng-sortable/ng-sortable.min.css"/><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="main">
    <header>
      <div class="ban">
        <div class="content">
          <div class="left">
            <div class="imageBox"><img src="images/head/title.png" class="title"/></div>
            <div class="menu"><a href="?les-encadrants" class="item">Les encadrants</a><a href="?presentation" class="item active">Présentation</a></div>
          </div>
          <div class="right">
            <div class="imageBox"><img src="images/head/description.png" class="description"/></div>
            <div class="menu"><a href="?liste-des-projets" class="item">Liste des projets</a><a href="?connexion" class="item">Connexion</a></div>
          </div><img src="images/head/logo_UM2.png" class="um2"/>
        </div>
      </div>
    </header>
    <div class="page presentation">
      <h1>Présentation</h1><img src="images/logo_fds.png" style="float: left;" class="fds"/>
      <div class="text">
        <p>Lorem ipsum In consequat enim culpa irure adipisicing commodo enim deserunt dolore dolor ex minim in reprehenderit ut sit reprehenderit qui ea elit Excepteur adipisicing Duis consectetur amet ut dolor consequat.</p>
        <p>Lorem ipsum In consequat enim culpa irure adipisicing commodo enim deserunt dolore dolor ex minim in reprehenderit ut sit reprehenderit qui ea elit Excepteur adipisicing Duis consectetur amet ut dolor consequat.</p>
        <p>Lorem ipsum In consequat enim culpa irure adipisicing commodo enim deserunt dolore dolor ex minim in reprehenderit ut sit reprehenderit qui ea elit Excepteur adipisicing Duis consectetur amet ut dolor consequat.</p>
      </div>
    </div>
    <div class="page liste-des-projets">
      <h1>Liste des projets
        <table class="projectList">
          <tr>
            <th class="titleColumn"><img src="images/icons/title.png" class="icon"/><span>Intitulé</span></th>
            <th class="teacherColumn"><img src="images/icons/teacher.png" class="icon"/><span>Encadrant</span></th>
            <th class="langColumn"><img src="images/icons/languages.png" class="icon"/><span>Langages</span></th>
            <th class="studentsColumn"><img src="images/icons/students.png" class="icon"/><span>Affecté(s)</span></th>
          </tr>
          <tr>
            <th class="titleColumn">
              <input ng-model="search.title"/>
            </th>
            <th class="teacherColumn">
              <input ng-model="search.author"/>
            </th>
            <th class="langColumn">
              <input ng-model="search.languages"/>
            </th>
            <th class="studentsColumn">
              <input ng-model="search.title"/>
            </th>
          </tr>
          <tr ng-repeat="project in projects | filter:search" class="content">
            <td>{{project.title}}</td>
            <td>{{project.author}}</td>
            <td><img ng-repeat="lang in project.languages" src="images/languages/{{lang}}.svg" class="language"/></td>
            <td class="empty">Aucun étudiant pour le moment</td>
          </tr>
        </table>
      </h1>
    </div>
  </body>
</html>