:php
	//Connect to db (variable : $db)
	include("php_functions/mysql.php");

	//Parse url to array ($parseParam, i.e. "/page1/cat2/blurp" => $parseParam = new Array("/page1", "cat2", "blurp"))
	include("php_functions/page_manager.php");

	//Connection related functions
	include("php_functions/connect.php");
	
	//Function for project2js
	require("php_functions/projectsToJS.php");


	

//- Import stuff
include ./projectsList.jade

html(ng-app='ProjetsL2')
	head
		title Projets L2
		meta(charset='UTF-8')
		//- Load AngularJS + fonts from Google
		script(src='http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
		
		//- Load librairies
		script(src='scripts/ng-sortable/ng-sortable.js')
		link(rel="stylesheet" type="text/css" href="scripts/ng-sortable/ng-sortable.min.css")

		//- Load local stuff
		script(src='scripts/script.js')
		link(rel="stylesheet", type="text/css", href='style/main.css')

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	body(ng-controller='main')
		div(style='text-align: center; width: 90px;position: absolute; padding: 4px; top: 10px; left: 10px; font-size: 8px; border-radius: 4px; background-color: rgba(0,0,0,0.2); opacity: 0.8;')
			div(style=' padding-bottom: 3px;') Profil utilisateur
			select(style='font-size: 8px;', onchange='window.location = window.location.href+"/@force-user-type="+this.value')
				| <option value=0 
				:php
					if(getUserType()==ANONYME)
						echo ' selected';
				| > Anonyme</option>
				| <option value=1 
				:php
					if(getUserType()==ELEVE)
						echo ' selected';
				| > Etudiant</option>
				| <option value=2 
				:php
					if(getUserType()==ENCADRANT)
						echo ' selected';
				| > Encadrant</option>
				| <option value=3 
				:php
					if(getUserType()==ADMIN)
						echo ' selected';
				| > Administrateur</option>
			div(style='font-size: 7px;')
				[Module temporaire pour essayer différents profils utilisateur]
		header
			.ban
				.content
					.left
						.imageBox
							img.title(		src='images/head/title.png')
						.menu
							:php
								displayPages(0, $page);
					.right
						.imageBox
							img.description(src='images/head/description.png')
						.menu
							:php
								displayPages(1, $page);
					img.um2(		src='images/head/logo_UM2.png')
		:php
			//Basic route :
			//  if url is like "/page/numeric-id-of-4-characters"
			//  else
			
			if(isset($parseParam[0]) && isset($parseParam[1]) &&
				$parseParam[0]=="liste-des-projets" && is_numeric(substr($parseParam[1], 0, 4))
			){
				$idProject = intval(substr($parseParam[1], 0, 4));
				include('pages/details-project.php');
			}else
				include('pages/'.$page.'.php');

:php
	//Close db connection
	$db->close();