mixin ProjectsList(draggable, isProf, isAdmin)
	:php
		echo exportProjectsToJS($db);
	if(draggable)
		div(style='font-style: italic; width: 70%; margin: auto; text-align: center; margin-bottom: 8px;')
			| Pour choisir établir votre liste de sujets préférés, glissez les sujet au devant de la liste.
	.projectList(ng-init='nbChoice = 6;')
		.head
			.row
				if(isProf)
					.tools 
				.titleColumn
					img.icon(src='images/icons/title.png')
					span Intitulé
				.teacherColumn
					img.icon(src='images/icons/teacher.png')
					span Encadrant
				.langColumn
					img.icon(src='images/icons/languages.png')
					span Langages
				.studentsColumn
					img.icon(src='images/icons/students.png')
					span Affecté(s)
			if !draggable
				.row.search
					if(isProf)
						.tools 
					.titleColumn
						input(ng-model='search.nomProj')
					.teacherColumn
						input(ng-model='search.author')
					.langColumn
						input(ng-model='search.languages')
					.studentsColumn
						//- input(ng-model='search.title')


		.body(data-as-sortable="dragControlListeners", data-ng-model='projects')
			div(data-as-sortable-item=(draggable==true), data-ng-repeat="(k,project) in projects | filter:search")
				div.row(data-as-sortable-item-handle=(draggable==true), href='/?liste-des-projets/{{project.idProj | fillZero}}-{{project | getLinkFromTitle}}', target="_blank", included=(draggable?"{{k<nbChoice}}":"false"))

					if(isProf)
						.tools
							img(src='images/icons/edit.png')
							img(src='images/icons/delete.png')
					a.titleColumn(style='background-image: url("images/icons/order/{{k}}.png")')
						if draggable
							span.handle()
								img(src='images/grip.png')
						span {{project.nomProj}}
					.teacherColumn {{project.author}}
					.langColumn
						img.language(ng-repeat='lang in project.languages', src='images/languages/{{lang}}.svg')
					.studentsColumn.empty Aucun étudiant pour le moment
			.span(ng-repeat='a in filtredProjects = (projects | filter:search)')
			.row.noRowToDisplay(ng-show='filtredProjects.length==0') Aucun résultat.