body {
  font-family: 'Open Sans';
  padding: 0px;
  margin: 0px;
  background: url("../images/background-body-light.jpg") no-repeat center 80px;
}
body header {
  background: url("../images/head/background.png") repeat-x top left;
  height: 116px;
}
body header .ban .content {
  width: 750px;
  height: 117px;
  margin: auto;
  text-align: center;
  background: url("../images/head/circle.png") no-repeat center top;
}
body header .ban .content img.um2 {
  transform: rotate(0deg);
  transition: transform 300ms ease-in;
}
body header .ban .content img.um2:hover {
  transform: rotate(5deg);
  transition: transform 500ms ease-out;
}
body header .ban .content .left {
  width: 310px;
  float: left;
}
body header .ban .content .left .title {
  padding-top: 22px;
}
body header .ban .content .left .menu {
  text-align: left;
  padding-left: 30px;
}
body header .ban .content .right {
  width: 310px;
  float: right;
}
body header .ban .content .right .description {
  padding-top: 6px;
}
body header .ban .content .right .menu {
  text-align: right;
  padding-right: 30px;
}
body header .ban .content div > .imageBox {
  height: 77px;
}
body header .ban .content div > .menu {
  height: 28px;
  overflow: hidden;
}
body header .ban .content div > .menu .item {
  height: 24px;
  padding-top: 4px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  width: 126px;
  text-decoration: none;
}
body header .ban .content div > .menu .item:hover {
  text-shadow: 0px 0px 2px #fff;
}
body header .ban .content div > .menu .item.active {
  color: #ecf083;
  text-shadow: 0px 0px 2px #fff;
}
body header .ban .content .um2 {
  padding-top: 8px;
}
body .page {
  width: 760px;
  padding: 20px;
  margin: auto;
}
body .page.presentation .fds {
  width: 210px;
}
body .page.presentation .text {
  text-align: justify;
  margin-left: 230px;
  margin-top: 0px;
  padding-top: 1px;
}
table.projectList {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}
table.projectList img.language {
  width: 18px;
  opacity: 0.4;
}
table.projectList img.language:hover {
  opacity: 1;
}
table.projectList .titleColumn {
  width: 40%;
}
table.projectList .teacherColumn {
  width: 20%;
}
table.projectList .langColumn {
  width: 25%;
}
table.projectList .studentsColumn {
  width: 15%;
}
table.projectList tr th {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
table.projectList tr th .icon {
  width: 18px;
  padding: 3px;
  padding-top: 8px;
  padding-right: 10px;
  opacity: 0.6;
}
table.projectList tr th span {
  display: inline-block;
  position: relative;
  top: -5px;
}
table.projectList tr th:last-child {
  border-right: 1px solid #ddd;
}
table.projectList tr th:first-child {
  border-left: 1px solid #ddd;
}
table.projectList tr th input {
  width: 100%;
  border: none;
}
table.projectList tr.content:hover {
  transform-origin: center center;
  transform: scale(1.03);
  transition: transform 200ms ease-out;
}
table.projectList tr.content {
  transition: transform 100ms ease-out;
}
table.projectList tr:nth-child(2n) td {
  background-color: #f3fafe;
}
table.projectList tr:nth-child(2n+1) td {
  background-color: #fff;
}
table.projectList td {
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-bottom: 1px dotted #eee;
}
table.projectList td.empty {
  font-size: 9px;
  text-align: center;
  color: #aaa;
  font-style: italic;
}
table.projectList tr td:last-child {
  border-right: 1px solid #ddd;
}
table.projectList tr td:first-child {
  border-left: 1px solid #ddd;
}
table.projectList tr:last-child td {
  border-bottom: 1px solid #ddd;
}
