color1 = #60c7ff
paddingMenuBorder = 30px
body
	font-family 'Open Sans'
	padding	0px
	margin	0px
	background url('../images/background-body-light.jpg') no-repeat center 80px
	header
		background url('../images/head/background.png') repeat-x top left
		height 116px
		.ban
			.content
				width	750px
				height  117px
				margin	auto
				text-align	center
				background url('../images/head/circle.png') no-repeat center top
				img.um2
					transform rotate(0deg)
					transition transform 300ms ease-in
					&:hover
						transform rotate(5deg)
						transition transform 500ms ease-out
				.left
					width 310px
					float		left
					.title
						padding-top	22px
					.menu
						text-align	left
						padding-left paddingMenuBorder
				.right
					width 310px
					float		right
					.description
						padding-top	6px
					.menu
						text-align	right
						padding-right paddingMenuBorder
				div > .imageBox
					height 77px
				div > .menu
					height 28px
					overflow hidden
					.item
						height 24px
						padding-top 4px
						color white
						font-size 15px
						display inline-block
						width 126px
						text-decoration none
						&:hover
							text-shadow 0px 0px 2px white
						&.active
							// color #dfe455
							color #ecf083
							text-shadow 0px 0px 2px white
				.um2
					padding-top	8px
	.page
		width 760px
		padding 20px
		margin auto
		&.presentation
			.fds
				width 210px
			.text
				text-align justify
				margin-left 230px
				margin-top 0px
				padding-top 1px

.row
	display block
	.titleColumn
		width 300px
	.teacherColumn
		width 140px
	.langColumn
		width 140px
	.studentsColumn
		width 120px
	div
		padding 5px
		display table-cell
		vertical-align middle
	img
		width 20px
	&:hover
		.row
			border-bottom 1px solid #95a5a6
		.handle
			opacity 1!important
	&[included='false']
		.titleColumn
			background none!important
	&[included='true']
		transition background-color 100ms ease-out
		background-color alpha(#2ecc71, 20%)
		.titleColumn
			background-repeat no-repeat
			background-position -20px center
			padding-left 50px
			width (300px - 50px)
.body
	.row
		transition background-color 800ms ease-in
		position relative
		> div
			height 50px
		border-bottom 1px dotted #95a5a6
		.handle
			transition opacity 100ms ease-in
			opacity 0.1
			position absolute
			left -15px
			top ((76px / 2) - 10px)
			img
				width 12px

.projectList
	border 1px solid #95a5a6
	border-radius 5px
	> .head
		div
			img
				width 20px
				opacity 0.6
			span
				display inline-block
				position relative
				margin-left 5px
				top -5px
		.row:first-child
			div
				padding-top 10px
			div
				border-right 1px dotted #95a5a6
			div:last-child
				border-right 0px solid black!important
			background-color #bdc3c7
		.row.search
			background-color white
		input
			width 100%
			border none
			background-color transparent
			background-image url('../images/search.png')
			background-repeat no-repeat
			background-position right center
			opacity 0.3
			height 16px
			&:hover, &:focus
				transition opacity 100ms ease-out
				opacity 0.8
			transition opacity 50ms ease-in
	.noRowToDisplay
		text-align center
		color #CCC
		font-style italic
		padding 20px