include ../projectsList.jade
div.page.liste-des-projets
	h1 Liste des projets
	:php
		if(isset($parseParam[1]) && $parseParam[1]=='drag-drop-enabled'){
	a(href="/?liste-des-projets") [Se mettre en mode visiteur]
	br
	br
	+ProjectsList(true)
	:php
		}else{
	a(href="/?liste-des-projets/drag-drop-enabled") [Se mettre en mode "Etudiant-qui-choisit-ses-sujets" (c'est la classe comme nom de mode !)]
	br
	br
	+ProjectsList(false)
	:php
		}