
<div class="page liste-des-projets">
  <h1>Liste des projets<br/>
    <table class="projectList">
      <tr>
        <th class="titleColumn"><img src="images/icons/title.png" class="icon"/><span>Intitulé</span></th>
        <th class="teacherColumn"><img src="images/icons/teacher.png" class="icon"/><span>Encadrant</span></th>
        <th class="langColumn"><img src="images/icons/languages.png" class="icon"/><span>Langages</span></th>
        <th class="studentsColumn"><img src="images/icons/students.png" class="icon"/><span>Affecté(s)</span></th>
      </tr>
      <tr>
        <th class="titleColumn">
          <input ng-model="search.title"/>
        </th>
        <th class="teacherColumn">
          <input ng-model="search.author"/>
        </th>
        <th class="langColumn">
          <input ng-model="search.languages"/>
        </th>
        <th class="studentsColumn">
          <input ng-model="search.title"/>
        </th>
      </tr>
      <tr ng-repeat="project in projects | filter:search" class="content">
        <td>{{project.title}}</td>
        <td>{{project.author}}</td>
        <td><img ng-repeat="lang in project.languages" src="images/languages/{{lang}}.svg" class="language"/></td>
        <td class="empty">Aucun étudiant pour le moment</td>
      </tr>
    </table>
  </h1>
</div>